@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  height: 100%;
  width: 100%;
  
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  /* overflow: hidden; */
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  flex-grow: 1;
}

.open{
  display: flex !important;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: #fff;
  color: #000;
  padding: 0 90px;
}

.logo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 90px;
  height: 90px;
}

.nav{
  display: flex;
  width: 700px;
  padding: 0 40px;
}

.nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.burger{
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span{
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #000;
}

.burger::before, .burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


.burger.active span { transform: scale(0) }

.burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.menu{
  display: flex;
  justify-content: flex-start;
  padding: 0 70px;
  align-items:baseline;
  
}

.text-menu{
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

hr.text-line-l{
  border: 1px solid black;
  width: 60vw;

}

.text-line{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  z-index: 50;
  width: 100%;
}

.h-pic2{
  display: none;
}

.h-pic{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.room-pic img{
  width: 90%;
}

.img-t {
  display: flex;
  padding-bottom: 30%;
}

.img-t p{

  text-transform: uppercase;
  letter-spacing: 2px; 
  transform: rotate(-90deg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.room-pic{
  padding-left: 10%;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 0;
}
.about{
  margin: 40% 10% 10%;
}

.about-t{
  display: flex;
  align-items: baseline;
  
}

.about-t hr{
  border: 1px black solid;
  width: 50%;
  height: 1px;

}

.c-f-pic img{
  width: 100%;
}

.client-prof img{
  width: 60%;
}

.service{
  margin: 2% 10%;
}

.s-text{
  display: flex;
  align-items: baseline;
}

.s-text hr{
  border: 1px black solid;
  width: 50%;
  height: 1px;

}

.client{
  display: flex;
  gap: 5%;
}

.comment-f-ab p{
  font-weight: 500;
  font-size: 5vh;
}

.client-prof p{
  font-size: 2vh;  
  width: 50%;
}

.but{
  padding: 5% 7%;
  color: #fff;
  background: rgb(44,56,120);
  width: max-content;
}

.s-t-base p:nth-child(1){
  font-weight: 700;
  font-size: 200%
}

.s-t-base p:nth-child(2){
  font-size: 2vh;
  width:30%;
  margin: 2% 0;
}

.btn-f-s{
  width: 30%;
  position: absolute;
  z-index: 100;
  background: white;
  
}

.back-photo{
  width: 60%;
  position: absolute;
  z-index: 20;
  margin-left: 10%;
}


.back-photo img{

  width: 100%;
}

.item{
  display: flex;
  gap: 5%;
  min-width: 100%;
}

.item p{
  min-width: max-content;
}

.p-text hr{
  border: 1px black solid;
  width: 50%;
  height: 1px;
}

.product{
  margin: 35% 10% 2%;
}

.p-text{
  display: flex;
  align-items: baseline;
}

.p-base{
  display: flex;
  margin-top: 2%;
  gap: 40%;

}

.p-base p:nth-child(2){
  display: flex;
  font-size: 12px;
  width: 300px;
}

.row{
  display: flex;
  gap: 2%;
  margin-bottom: 1%;
  margin-top: 3%;
}

.row-t p{
  font-size: 12px;
  margin-left: 10%;
} 

.material{
  margin: 2% 10%; 
  display: flex;
  gap: 10%;
}

.m-pic img{
  width: 100%;
}

.m-text hr{
  border: 1px black solid;
  width: 50%;
  height: 1px;
}
.m-text{
  display: flex;
  align-items: baseline;
}



.m-base p:nth-child(1){
  font-size: 200%;
  padding-bottom: 2%;
  font-weight: 600;
}

.m-base p:nth-child(2){
  font-size: 74%;
  font-weight: 300;
  padding-bottom: 4%;
}

.btn-m{
  padding: 3% 4%;
  background: rgb(44,56,120);
  width: max-content;
  color: white;
}

.add-bar{
  background: rgb(44,56,120);
  color: white;
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 3% 0;
}

.a-b-text{
  font-weight: 500;
  font-size: 120%;
}

.c-text-w-btn p{
  font-weight: 100;
  font-size: 80%;

}

.btn-c{
  padding: 2% 3%;
  background: white;
  width: max-content;
  color: black;
  margin-top: 2%;
}

.email-sub{
  margin: 2% 10%; 
  display: flex;
  gap: 30%;
}

.e-btn{
  margin-top: 2%;
}

.btn-text{
  display: flex;
}

.e-input{
  display: flex;
  margin-top: 2%;
}

.e-input input{
  border: 0;
}

.follow{
  display: flex;
  justify-content: flex-end;
  margin: 2% 10%; 
}

.f-pic{
  display: flex;
  gap: 10%;
}


@media (max-width: 700px) {

  .email-sub{
    display: block;
  }

  .add-bar{
    padding: 3% 3%;
  }

  .material{
    display: block;
  }

  
  .s-t-base p:nth-child(2){
    font-size: 100%;
    width:100%;
  }

  .back-photo{
    width: 330%;
  }

  .room-pic{
    padding-left: 0;}

  .room-pic img{
    width: 100%;
    padding: 3% 5%;
    
  }

  .client{
    display: block;
  }

  .c-f-pic img{
    width: 100%;
  }

  .client-prof img{
    width: 100%;
    height: 50%;
  }

  .about-t hr{
    width: 90%;

  }




  .img-t2{
    text-transform: uppercase;
    letter-spacing: 2px; 
    transform: rotate(-90deg);
    height: 100px;

  }

  .h-pic{
    display: none;
  }

  
  .h-pic2{
    display: flex;
    flex-direction: row;
    padding: 5% 5%;
  }

  .h-pic2 img{
    width: 70%;
  }

  hr.text-line-l {
    border: 1px solid black;
    height: 100%;
    width: 0px;
  }



  .menu{
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
    align-items:normal;
    gap: 23%;
  }
  
  .text-menu{
    width: 70%;
    font-size: 22px;
    
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background-color: #fff;
    color: #000;
    padding: 0 40px;
  }

  .nav{
    display: flex;
    width: 700px;
    padding: 0 40px;
  }

  .burger { display: flex }

  .nav{
      display: none;
      flex-direction: column;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: 50;
      overflow-y: auto;
      padding: 50px 40px;
      background-color: ghostwhite;
      
  }

  .nav ul{
      flex-direction: column;
      row-gap: 30px;
  }
}

